<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.ToolsetCompilers" version="0.7.4101501-beta" targetFramework="net45" />
  <package id="Microsoft.Net.RoslynDiagnostics" version="0.7.4101501-beta" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.48.2" targetFramework="net45" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.17-beta" targetFramework="net45" />
  <package id="xunit" version="2.0.0-alpha-build2576" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-alpha-build2576" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0-alpha-build2576" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0-alpha-build2576" targetFramework="net45" />
</packages>