<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.1.20-beta" targetFramework="net45" />
  <package id="Microsoft.Bcl.Metadata" version="1.0.12-alpha" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.48.2" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Net.ToolsetCompilers" version="0.7.4070101-beta" targetFramework="net45" developmentDependency="true" />
  <package id="xunit" version="2.0.0-alpha-build2576" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-alpha-build2576" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0-alpha-build2576" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0-alpha-build2576" targetFramework="net45" />
</packages>