<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Composition" version="14.0.50715-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="14.0.50729-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.0.50703" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="14.0.50702" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.50702" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
  <package id="xunit" version="2.1.0-beta4-build3109" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0-beta4-build3109" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0-beta4-build3109" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0-beta4-build3109" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0-beta4-build1109" targetFramework="net46" />
</packages>