<?xml version="1.0" encoding="utf-8"?>

<!-- The default app.config for test projects that do not specify one -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="ThrowingTraceListener" type="Microsoft.CodeAnalysis.ThrowingTraceListener, Roslyn.Test.Utilities" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
