<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.22.0" targetFramework="net46" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.129" targetFramework="net46" />
  <package id="Mono.Options" version="1.1" targetFramework="net452" />
  <package id="Octokit" version="0.17.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0-preview1-24530-04" targetFramework="net46" />
</packages>