[**]
dotnet_public_api_analyzer.skip_namespaces = Microsoft.CodeAnalysis.ExternalAccess.Copilot.Internal,Microsoft.CodeAnalysis.ExternalAccess.FSharp.Internal

[FSharp/**]

# RS0057: Symbol uses some oblivious reference types
dotnet_diagnostic.RS0057.severity = none
