# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure

docs/compilers @dotnet/roslyn-compiler
docs/ide @dotnet/roslyn-ide

eng/ @dotnet/roslyn-infrastructure
eng/SourceBuild* @dotnet/source-build-internal
scripts/ @dotnet/roslyn-infrastructure

src/Analyzers/ @dotnet/roslyn-ide
src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
# Both IDE and Compiler traits are in this file, so we don't want to ping each other for changes to just this file.
# Technically this means that if someone changes _just_ this file no reviewers will be tagged, but this isn't likely
# to happen.
src/Compilers/Test/Core/Traits/Traits.cs
src/EditorFeatures/ @dotnet/roslyn-ide
src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/LanguageServer/ @dotnet/roslyn-ide
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/AnalyzerRunner @dotnet/roslyn-ide
src/Tools/BuildActionTelemetryTable @dotnet/roslyn-infrastructure
src/Tools/BuildBoss @dotnet/roslyn-infrastructure
src/Tools/BuildValidator @dotnet/roslyn-infrastructure
src/Tools/dotnet-format @dotnet/roslyn-infrastructure
src/Tools/ExternalAccess @dotnet/roslyn-ide
src/Tools/IdeBenchmarks @dotnet/roslyn-ide
src/Tools/IdeCoreBenchmarks @dotnet/roslyn-ide
src/Tools/ManifestGenerator @dotnet/roslyn-infrastructure
src/Tools/PrepareTests @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/Tools/Source/RunTests @dotnet/roslyn-infrastructure
src/VisualStudio/ @dotnet/roslyn-ide
src/Workspaces/ @dotnet/roslyn-ide

src/Compilers/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners
src/Workspaces/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners
src/Features/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners
src/EditorFeatures/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners

src/Tools/ExternalAccess/OmniSharp*/ @333fred @dibarbet
src/Tools/ExternalAccess/CompilerDeveloperSDK/ @333fred
