[**]

# RS0016: Only enable if API files are present
dotnet_public_api_analyzer.require_api_files = true

dotnet_diagnostic.RS0051.severity = error
dotnet_diagnostic.RS0052.severity = error
dotnet_diagnostic.RS0053.severity = error
dotnet_diagnostic.RS0054.severity = error
dotnet_diagnostic.RS0055.severity = error
dotnet_diagnostic.RS0056.severity = error
dotnet_diagnostic.RS0057.severity = error
dotnet_diagnostic.RS0058.severity = error
dotnet_diagnostic.RS0059.severity = error
dotnet_diagnostic.RS0060.severity = error
dotnet_diagnostic.RS0061.severity = error

[Apex/**]

# RS0057: Symbol uses some oblivious reference types
dotnet_diagnostic.RS0057.severity = none

[AspNetCore/**]

dotnet_public_api_analyzer.skip_namespaces = Microsoft.CodeAnalysis.ExternalAccess.AspNetCore.Internal

[FSharp/**]

dotnet_public_api_analyzer.skip_namespaces = Microsoft.CodeAnalysis.ExternalAccess.FSharp.Internal

# RS0057: Symbol uses some oblivious reference types
dotnet_diagnostic.RS0057.severity = none

[OmniSharp/**]

dotnet_public_api_analyzer.skip_namespaces = Microsoft.CodeAnalysis.ExternalAccess.OmniSharp.Internal

[Copilot/**]

dotnet_public_api_analyzer.skip_namespaces = Microsoft.CodeAnalysis.ExternalAccess.Copilot.Internal

