# Branches that trigger a build on commit
trigger:
- master
- master-vs-deps
- release/*
- features/*
- demos/*

# Branches that trigger builds on PR
pr:
- master
- master-vs-deps
- release/*
- features/*
- demos/*

jobs:
- job: VS_Integration
  pool:
    name: NetCorePublic-Pool
    queue: $(queueName)
  strategy:
    maxParallel: 4
    matrix:
      debug_32:
        _configuration: Debug
        _oop64bit: false
      debug_64:
        _configuration: Debug
        _oop64bit: true
      release_32:
        _configuration: Release
        _oop64bit: false
      release_64:
        _configuration: Release
        _oop64bit: true
  timeoutInMinutes: 135

  steps:
    - task: PowerShell@2
      displayName: Build and Test
      inputs:
        filePath: eng/build.ps1
        arguments: -ci -restore -build -pack -sign -publish -binaryLog -configuration $(_configuration) -prepareMachine -testVsi -oop64bit:$$(_oop64bit)

    - task: PublishTestResults@2
      displayName: Publish xUnit Test Results
      inputs:
        testRunner: XUnit
        testResultsFiles: $(Build.SourcesDirectory)\artifacts\TestResults\$(_configuration)\*.xml
        mergeTestResults: true
        testRunTitle: '$(System.JobAttempt)-Integration $(_configuration) OOP64_$(_oop64bit)'
      condition: always()

    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\$(_configuration)'
        ArtifactName: '$(System.JobAttempt)-Logs $(_configuration) OOP64_$(_oop64bit) $(Build.BuildNumber)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())

    - task: PublishBuildArtifacts@1
      displayName: Publish Secondary Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log2\$(_configuration)'
        ArtifactName: '$(System.JobAttempt)-Secondary Logs $(_configuration) OOP64_$(_oop64bit) $(Build.BuildNumber)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())

    - task: PublishBuildArtifacts@1
      displayName: Publish Screenshots
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\bin\Microsoft.VisualStudio.LanguageServices.IntegrationTests\$(_configuration)\net472\xUnitResults'
        ArtifactName: '$(System.JobAttempt)-Screenshots $(_configuration) OOP64_$(_oop64bit) $(Build.BuildNumber)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())
