# Branches that trigger a build on commit
trigger:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
    exclude:
    # Since the version of VS on the integration VM images are a moving target,
    # we are unable to reliably run integration tests on servicing branches.
    - release/dev17.0-vs-deps
    - release/dev17.2
    - release/dev17.3

# Branches that trigger builds on PR
pr:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
    exclude:
    # Since the version of VS on the integration VM images are a moving target,
    # we are unable to reliably run integration tests on servicing branches.
    - release/dev17.0-vs-deps
    - release/dev17.2
    - release/dev17.3
  paths:
    exclude:
      - docs/*
      - eng/config/OptProf.json
      - eng/config/PublishData.json
      - .vscode/*
      - .github/*
      - .devcontainer/*
      - .git-blame-ignore-revs
      - .vsconfig
      - CODE-OF-CONDUCT.md
      - CONTRIBUTING.md
      - README.md
      - src/Compilers/*
      - src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md

variables:
- name: Codeql.Enabled
  value: false
- name: Codeql.SkipTaskAutoInjection
  value: true

parameters:
- name: poolName
  displayName: Pool Name
  type: string
  default: NetCore-Public
  values:
  - NetCore-Public
  - NetCore-Svc-Public
- name: queueName
  displayName: Queue Name
  type: string
  default: windows.vs2022preview.scout.amd64.open
  values:
  - windows.vs2022.amd64.open
  - windows.vs2022.scout.amd64.open
  - windows.vs2022preview.amd64.open
  - windows.vs2022preview.scout.amd64.open
- name: timeout
  displayName: Timeout in Minutes
  type: number
  default: 150

stages:
- template: eng/pipelines/test-integration-helix.yml
  parameters:
    poolName: ${{ parameters.poolName }}
    queueName: ${{ parameters.queueName }}
    timeout: ${{ parameters.timeout }}
    configuration: Debug
    testRuns:
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
        - oop64bit: false
          oopCoreClr: false
          lspEditor: false
          runName: VS_Integration_Debug_32
      - oop64bit: true
        oopCoreClr: false
        lspEditor: false
        runName: VS_Integration_Debug_64

- template: eng/pipelines/test-integration-helix.yml
  parameters:
    poolName: ${{ parameters.poolName }}
    queueName: ${{ parameters.queueName }}
    timeout: ${{ parameters.timeout }}
    configuration: Release
    testRuns:
      - oop64bit: false
        oopCoreClr: false
        lspEditor: false
        runName: VS_Integration_Release_32
      - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
        - oop64bit: true
          oopCoreClr: false
          lspEditor: false
          runName: VS_Integration_Release_64
