# Disable CI triggers
trigger: none
pr: none

# Nightly run of integration tests against the scouting queue
schedules:
- cron: "0 0 * * *"
  displayName: Nightly builds
  branches:
    include:
    - main
    - main-vs-deps

parameters:
- name: poolName
  displayName: Pool Name
  type: string
  default: NetCore-Public
  values:
  - NetCore-Public
  - NetCore-Svc-Public
- name: queueName
  displayName: Queue Name
  type: string
  default: windows.vs2022.amd64.open
  values:
  - windows.vs2022.amd64.open
- name: timeout
  displayName: Timeout in Minutes
  type: number
  default: 150

stages:
- stage: Debug_Integration
  dependsOn: []
  variables:
  - name: XUNIT_LOGS
    value: $(Build.SourcesDirectory)\artifacts\log\Debug
  jobs:
  - job: VS_Integration_Debug_32
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Debug
          oop64bit: false
          lspEditor: false

  - job: VS_Integration_Debug_64
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Debug
          oop64bit: true
          lspEditor: false

- stage: Release_Integration
  dependsOn: []
  variables:
  - name: XUNIT_LOGS
    value: $(Build.SourcesDirectory)\artifacts\log\Release
  jobs:
  - job: VS_Integration_Release_32
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Release
          oop64bit: false
          lspEditor: false

  - job: VS_Integration_Release_64
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Release
          oop64bit: true
          lspEditor: false
