# Branches that trigger a build on commit
trigger:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
    exclude:
    # Since the version of VS on the integration VM images are a moving target,
    # we are unable to reliably run integration tests on servicing branches.
    - release/dev17.0-vs-deps
    - release/dev17.2
    - release/dev17.3

# Branches that trigger builds on PR
pr:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
    exclude:
    # Since the version of VS on the integration VM images are a moving target,
    # we are unable to reliably run integration tests on servicing branches.
    - release/dev17.0-vs-deps
    - release/dev17.2
    - release/dev17.3
  paths:
    exclude:
      - docs/*
      - eng/config/OptProf.json
      - eng/config/PublishData.json
      - eng/setup-pr-validation.ps1
      - src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/README.md
      - .vscode/*
      - .github/*
      - .devcontainer/*
      - .git-blame-ignore-revs
      - .vsconfig
      - azure-pipelines-compliance.yml
      - azure-pipelines-integration-dartlab.yml
      - azure-pipelines-integration-scouting.yml
      - azure-pipelines-official.yml
      - azure-pipelines-pr-validation.yml
      - CODE-OF-CONDUCT.md
      - CONTRIBUTING.md
      - README.md
 
parameters:
- name: poolName
  displayName: Pool Name
  type: string
  default: NetCore-Public
  values:
  - NetCore-Public
  - NetCore-Svc-Public
- name: queueName
  displayName: Queue Name
  type: string
  default: windows.vs2022preview.amd64.open
  values:
  - windows.vs2022.amd64.open
  - windows.vs2022.scout.amd64.open
  - windows.vs2022preview.amd64.open
  - windows.vs2022preview.scout.amd64.open
- name: timeout
  displayName: Timeout in Minutes
  type: number
  default: 150

stages:
- stage: Debug_Integration
  dependsOn: []
  variables:
  - name: XUNIT_LOGS
    value: $(Build.SourcesDirectory)\artifacts\log\Debug
  jobs:
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
    - job: VS_Integration_Debug_32
      pool:
        name: ${{ parameters.poolName }}
        demands: ImageOverride -equals ${{ parameters.queueName }}
      timeoutInMinutes: ${{ parameters.timeout }}
      steps:
        - template: eng/pipelines/test-integration-job.yml
          parameters:
            configuration: Debug
            oop64bit: false
            lspEditor: false

  - job: VS_Integration_Debug_64
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Debug
          oop64bit: true
          lspEditor: false

- stage: Release_Integration
  dependsOn: []
  variables:
  - name: XUNIT_LOGS
    value: $(Build.SourcesDirectory)\artifacts\log\Release
  jobs:
  - job: VS_Integration_Release_32
    pool:
      name: ${{ parameters.poolName }}
      demands: ImageOverride -equals ${{ parameters.queueName }}
    timeoutInMinutes: ${{ parameters.timeout }}
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Release
          oop64bit: false
          lspEditor: false

  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
    - job: VS_Integration_Release_64
      pool:
        name: ${{ parameters.poolName }}
        demands: ImageOverride -equals ${{ parameters.queueName }}
      timeoutInMinutes: ${{ parameters.timeout }}
      steps:
        - template: eng/pipelines/test-integration-job.yml
          parameters:
            configuration: Release
            oop64bit: true
            lspEditor: false
