# Branches that trigger a build on commit
trigger:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

# Branches that trigger builds on PR
pr:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

variables:
  - name: XUNIT_LOGS
    value: $(Build.SourcesDirectory)\artifacts\log\$(_configuration)

jobs:
- job: VS_Integration
  pool:
    name: $(poolName)
    demands: ImageOverride -equals $(queueName)
  strategy:
    maxParallel: 4
    matrix:
      debug_32:
        _configuration: Debug
        _oop64bit: false
      debug_64:
        _configuration: Debug
        _oop64bit: true
      release_32:
        _configuration: Release
        _oop64bit: false
      release_64:
        _configuration: Release
        _oop64bit: true
  timeoutInMinutes: 135

  steps:
    - template: eng/pipelines/test-integration-job.yml
      parameters:
        configuration: $(_configuration)
        oop64bit: $(_oop64bit)
        lspEditor: false
