# Branches that trigger a build on commit
trigger:
- master
- master-vs-deps
- dev16.0-preview3
- dev16.0-preview3-vs-deps
- dev16.0
- dev16.0-vs-deps

# Branches that trigger builds on PR
pr:
- master
- master-vs-deps
- features/*
- demos/*
- dev16.0-preview3
- dev16.0-preview3-vs-deps
- dev16.0
- dev16.0-vs-deps

jobs:
- job: Windows_VisualStudio_Integration_Tests
  pool: dotnet-external-vs2019-preview
  strategy:
    maxParallel: 4
    matrix:
      debug:
        _configuration: Debug
        _useLegacyCompletion: false
      release:
        _configuration: Release
        _useLegacyCompletion: false
      debug_legacy:
        _configuration: Debug
        _useLegacyCompletion: true
      release_legacy:
        _configuration: Release
        _useLegacyCompletion: true
  timeoutInMinutes: 135

  steps:
    - script: eng/cibuild.cmd -configuration $(_configuration) -prepareMachine -testVsi -testLegacyCompletion:$$(_useLegacyCompletion)
      displayName: Build and Test

    - task: PublishTestResults@1
      displayName: Publish xUnit Test Results
      inputs:
        testRunner: XUnit
        testResultsFiles: $(Build.SourcesDirectory)\artifacts\TestResults\$(_configuration)\*.xml
        mergeTestResults: true
        testRunTitle: 'Windows Visual Studio Integration $(_configuration)_$(_useLegacyCompletion)' 
      condition: always()

    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\$(_configuration)'
        ArtifactName: 'Windows Visual Studio Integration $(_configuration)_$(_useLegacyCompletion)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())

    - task: PublishBuildArtifacts@1
      displayName: Publish Screenshots
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\bin\Microsoft.VisualStudio.LanguageServices.IntegrationTests\$(_configuration)\net472\xUnitResults'
        ArtifactName: 'Screenshots $(_configuration)_$(_useLegacyCompletion)' 
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())
