# Disable CI triggers
trigger: none
pr: none

# Nightly run of integration tests against the scouting queue
schedules:
- cron: "0 0 * * *"
  displayName: Nightly builds
  branches:
    include:
    - main
    - main-vs-deps
    - community

variables:
- name: Codeql.Enabled
  value: false
- name: Codeql.SkipTaskAutoInjection
  value: true

parameters:
- name: poolName
  displayName: Pool Name
  type: string
  default: NetCore-Public
  values:
  - NetCore-Public
  - NetCore-Svc-Public
- name: queueName
  displayName: Queue Name
  type: string
  default: windows.vs2022.amd64.open
  values:
  - windows.vs2022.amd64.open
- name: timeout
  displayName: Timeout in Minutes
  type: number
  default: 150

stages:
- template: eng/pipelines/test-integration-helix.yml
  parameters:
    poolName: ${{ parameters.poolName }}
    queueName: ${{ parameters.queueName }}
    timeout: ${{ parameters.timeout }}
    configuration: Debug
    testRuns:
      - oop64bit: false
        lspEditor: false
        runName: VS_Integration_Debug_32
      - oop64bit: true
        lspEditor: false
        runName: VS_Integration_Debug_64

- template: eng/pipelines/test-integration-helix.yml
  parameters:
    poolName: ${{ parameters.poolName }}
    queueName: ${{ parameters.queueName }}
    timeout: ${{ parameters.timeout }}
    configuration: Release
    testRuns:
      - oop64bit: false
        lspEditor: false
        runName: VS_Integration_Release_32
      - oop64bit: true
        lspEditor: false
        runName: VS_Integration_Release_64
