# Run on master CI builds
trigger:
- master

pr:
- master # for testing, will remove before merging

jobs:
- job: RichCodeNav_Indexing
  pool:
    name: NetCorePublic-Pool
    queue: BuildPool.Windows.10.Amd64.VS2017.Open
  variables:
    EnableRichCodeNavigation: true
  timeoutInMinutes: 200

  steps:
    - script: eng/cibuild.cmd -configuration Debug -prepareMachine
      displayName: Build

    - task: RichCodeNavIndexer@0
      displayName: RichCodeNav Upload
      inputs:
        languages: 'csharp'
        environment: production
        richNavLogOutputDirectory: $(Build.SourcesDirectory)/artifacts/bin
      continueOnError: true
