# Branches that trigger a build on commit
trigger:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

# Branches that trigger builds on PR
pr:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
  paths:
    exclude:
      - docs/*
      - eng/config/OptProf.json
      - eng/config/PublishData.json
      - .vscode/*
      - .github/*
      - .devcontainer/
      - .git-blame-ignore-revs
      - .vsconfig
      - CODE-OF-CONDUCT.md
      - CONTRIBUTING.md
      - README.md

jobs:
- template: eng/pipelines/build-windows-job.yml
  parameters:
    jobName: Build_Windows_Debug
    testArtifactName: Transport_Artifacts_Windows_Debug
    configuration: Debug
    # TODO - $(poolName)?
    queueName: Build.Windows.Amd64.VS2022.Pre.Open
    buildArguments: /p:Projects='"$(Agent.BuildDirectory)\src\VisualStudio\IntegrationTest\IntegrationTestBuildProject\IntegrationTestBuildProject.csproj";"$(Agent.BuildDirectory)\src\Tools\PrepareTests\PrepareTests.csproj";"$(Agent.BuildDirectory)\src\Tools\Source\RunTests\RunTests.csproj"'

- template: eng/pipelines/build-windows-job.yml
  parameters:
    jobName: Build_Windows_Release
    testArtifactName: Transport_Artifacts_Windows_Release
    configuration: Release
    # TODO - $(poolName)?
    queueName: Build.Windows.Amd64.VS2022.Pre.Open
    buildArguments: /p:Projects='"$(Agent.BuildDirectory)\src\VisualStudio\IntegrationTest\IntegrationTestBuildProject\IntegrationTestBuildProject.csproj";"$(Agent.BuildDirectory)\src\Tools\PrepareTests\PrepareTests.csproj";"$(Agent.BuildDirectory)\src\Tools\Source\RunTests\RunTests.csproj"'

- ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  - template: eng/pipelines/test-integration-helix-job.yml
    parameters:
      jobName: VS_Integration_Debug_32
      buildJobName: Build_Windows_Debug
      testArtifactName: Transport_Artifacts_Windows_Debug
      configuration: Debug
      # TODO QUEUE Name
      oop64bit: false
      lspEditor: false

- template: eng/pipelines/test-integration-helix-job.yml
  parameters:
    jobName: VS_Integration_Debug_64
    buildJobName: Build_Windows_Debug
    testArtifactName: Transport_Artifacts_Windows_Debug
    configuration: Debug
    # TODO QUEUE Name
    oop64bit: true
    lspEditor: false

- template: eng/pipelines/test-integration-helix-job.yml
  parameters:
    jobName: VS_Integration_Release_32
    buildJobName: Build_Windows_Release
    testArtifactName: Transport_Artifacts_Windows_Release
    configuration: Release
    # TODO QUEUE Name
    oop64bit: false
    lspEditor: false


- ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  - template: eng/pipelines/test-integration-helix-job.yml
    parameters:
      jobName: VS_Integration_Release_64
      buildJobName: Build_Windows_Release
      testArtifactName: Transport_Artifacts_Windows_Release
      configuration: Release
      # TODO QUEUE Name
      oop64bit: true
      lspEditor: false
