# Separate pipeline from normal integration CI to allow branches to change legs

# Branches that trigger a build on commit
trigger:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

# Branches that are allowed to trigger a build via /azp run.
# Automatic building of all PRs is disabled in the pipeline's trigger page.
# See https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#comment-triggers
pr:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
  paths:
    exclude:
      - docs/*
      - eng/config/OptProf.json
      - eng/config/PublishData.json
      - .vscode/*
      - .github/*
      - .devcontainer/*
      - .git-blame-ignore-revs
      - .vsconfig
      - CODE-OF-CONDUCT.md
      - CONTRIBUTING.md
      - README.md

jobs:
- job: VS_Integration_CoreHost_Debug
  pool:
    name: NetCore1ESPool-Public
    demands: ImageOverride -equals $(queueName)
  timeoutInMinutes: 135
  variables:
    - name: XUNIT_LOGS
      value: $(Build.SourcesDirectory)\artifacts\log\Debug
  steps:
    - template: eng/pipelines/test-integration-job.yml
      parameters:
        configuration: Debug
        oop64bit: true
        oopCoreClr: true

- ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  - job: VS_Integration_CoreHost_Release
    pool:
      name: NetCore1ESPool-Public
      demands: ImageOverride -equals $(queueName)
    timeoutInMinutes: 135
    variables:
      - name: XUNIT_LOGS
        value: $(Build.SourcesDirectory)\artifacts\log\Debug
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Release
          oop64bit: true
          oopCoreClr: true
