# Branches that trigger a build on commit
trigger:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

# Branches that trigger builds on PR
pr:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

jobs:
- ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  - job: VS_Integration_Debug_32
    pool:
      name: NetCore1ESPool-Svc-Public
      demands: ImageOverride -equals Build.Windows.Amd64.VS2022.Open
    timeoutInMinutes: 135
    variables:
      - name: XUNIT_LOGS
        value: $(Build.SourcesDirectory)\artifacts\log\Debug
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Debug
          oop64bit: false
          lspEditor: false

- job: VS_Integration_Debug_64
  pool:
    name: NetCore1ESPool-Svc-Public
    demands: ImageOverride -equals Build.Windows.Amd64.VS2022.Open
  timeoutInMinutes: 135
  variables:
    - name: XUNIT_LOGS
      value: $(Build.SourcesDirectory)\artifacts\log\Debug
  steps:
    - template: eng/pipelines/test-integration-job.yml
      parameters:
        configuration: Debug
        oop64bit: true
        lspEditor: false

- job: VS_Integration_Release_32
  pool:
    name: NetCore1ESPool-Svc-Public
    demands: ImageOverride -equals Build.Windows.Amd64.VS2022.Open
  timeoutInMinutes: 135
  variables:
    - name: XUNIT_LOGS
      value: $(Build.SourcesDirectory)\artifacts\log\Release
  steps:
    - template: eng/pipelines/test-integration-job.yml
      parameters:
        configuration: Release
        oop64bit: false
        lspEditor: false

- ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  - job: VS_Integration_Release_64
    pool:
      name: NetCore1ESPool-Svc-Public
      demands: ImageOverride -equals Build.Windows.Amd64.VS2022.Open
    timeoutInMinutes: 135
    variables:
      - name: XUNIT_LOGS
        value: $(Build.SourcesDirectory)\artifacts\log\Release
    steps:
      - template: eng/pipelines/test-integration-job.yml
        parameters:
          configuration: Release
          oop64bit: true
          lspEditor: false
