# Roslyn integration test pipeline for validating against branch builds of VS.

trigger: none # Manual trigger for now
pr: none # Manual trigger for now

resources:
  pipelines:
  - pipeline: VisualStudioBuildUnderTest
    source: DD-CB-ReleaseVS
    branch: main
  - pipeline: DartLab
    source: DartLab
    branch: main
  repositories:
  - repository: DartLabTemplates
    type: git
    name: DartLab.Templates
    ref: main
  - repository: RoslynMirror
    endpoint: dnceng/internal
    type: git
    name: internal/dotnet-roslyn
    ref: $(Build.SourceBranch)
    trigger:
    - main

parameters:
  - name: prNumber
    type: string
    default: 'None'
  - name: sha
    type: string
    default: 'None'
  # Set to 'stop' if you want to keep the test machines around for investigation after test completion.
  - name: testMachineCleanUpStrategy
    displayName: Test Machine Clean Up Strategy
    type: string
    default: delete
    values:
    - delete
    - stop
  # The retention period for the test machine (expressed as <Days>:<Hours>:<Minutes>:<Seconds>)
  - name: testMachineRetention
    displayName: Test Machine Retention (format "D:H:M:S")
    type: string
    default: 1:0:0:0 # 1 day default

variables:
- name: XUNIT_LOGS
  value: $(Build.SourcesDirectory)\artifacts\log\$(_configuration)
- name: Codeql.Enabled
  value: false
- name: Codeql.SkipTaskAutoInjection
  value: true

stages:
- template: /eng/pipelines/test-integration-stage.yml@self
  parameters:
    name: VSIntegration
    displayName: VS Integration
    testMachineCleanUpStrategy: ${{parameters.testMachineCleanUpStrategy}}
    testMachineRetention: ${{parameters.testMachineRetention}}
