# Branches that trigger a build on commit
trigger:
- main
- main-vs-deps
- release/*
- features/*
- demos/*

# Branches that trigger builds on PR
pr:
  branches:
    include:
    - main
    - main-vs-deps
    - release/*
    - features/*
    - demos/*
  paths:
    exclude:
      - docs/*
      - eng/config/OptProf.json
      - eng/config/PublishData.json
      - eng/setup-pr-validation.ps1
      - .vscode/*
      - .github/*
      - azure-pipelines-official.yml
      - azure-pipelines-pr-validation.yml
      - CODE-OF-CONDUCT.md

jobs:
- job: VS_Integration
  pool:
    name: NetCore-Svc-Public
    demands: ImageOverride -equals windows.vs2019.amd64.open
  strategy:
    maxParallel: 4
    matrix:
      debug_32:
        _configuration: Debug
        _oop64bit: false
      debug_64:
        _configuration: Debug
        _oop64bit: true
      release_32:
        _configuration: Release
        _oop64bit: false
      release_64:
        _configuration: Release
        _oop64bit: true
  timeoutInMinutes: 135

  steps:
    - template: eng/pipelines/test-integration-job.yml
      parameters:
        configuration: $(_configuration)
        oop64bit: $(_oop64bit)
        lspEditor: false
