# Branches that trigger a build on commit
trigger:
- master
- master-vs-deps
- release/*
- features/*
- demos/*

# Branches that trigger builds on PR
pr:
- master
- master-vs-deps
- release/*
- features/*
- demos/*

jobs:
- job: VS_Integration
  pool:
    name: NetCorePublic-Pool
    queue: buildpool.windows.10.amd64.vs2019.pre.open
  strategy:
    maxParallel: 2
    matrix:
      debug_async:
        _configuration: Debug
      release_async:
        _configuration: Release
  timeoutInMinutes: 135

  steps:
    - script: eng/cibuild.cmd -configuration $(_configuration) -prepareMachine -testVsi
      displayName: Build and Test

    - task: PublishTestResults@2
      displayName: Publish xUnit Test Results
      inputs:
        testRunner: XUnit
        testResultsFiles: $(Build.SourcesDirectory)\artifacts\TestResults\$(_configuration)\*.xml
        mergeTestResults: true
        testRunTitle: '$(System.JobAttempt)-Integration $(_configuration)
      condition: always()

    - task: PublishBuildArtifacts@1
      displayName: Publish Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log\$(_configuration)'
        ArtifactName: '$(System.JobAttempt)-Logs $(_configuration) $(Build.BuildNumber)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())

    - task: PublishBuildArtifacts@1
      displayName: Publish Secondary Logs
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\log2\$(_configuration)'
        ArtifactName: '$(System.JobAttempt)-Secondary Logs $(_configuration) $(Build.BuildNumber)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())

    - task: PublishBuildArtifacts@1
      displayName: Publish Screenshots
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)\artifacts\bin\Microsoft.VisualStudio.LanguageServices.IntegrationTests\$(_configuration)\net472\xUnitResults'
        ArtifactName: '$(System.JobAttempt)-Screenshots $(_configuration) $(Build.BuildNumber)'
        publishLocation: Container
      continueOnError: true
      condition: not(succeeded())
