<?xml version="1.0" encoding="utf-8"?>
<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. See the LICENSE file in the project root for more information. -->
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <!-- We need dotnet6 because BuildValidator depends on runtime.{platform}.Microsoft.NETCore.ILDAsm (>= 6.0.0-rtm.21518.12) -->
    <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
    <!-- We need dotnet7-transport because we depend on Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers (>= 3.3.4-beta1.22504.1) -->
    <add key="dotnet7-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7-transport/nuget/v3/index.json" />
    <!-- We need dotnet9 because we depend on Roslyn.Diagnostics.Analyzers (>= 3.11.0-beta1.24081.1)-->
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
    <add key="dotnet10-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10-transport/nuget/v3/index.json" />
    <add key="dotnet11" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet11/nuget/v3/index.json" />
    <add key="dotnet11-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet11-transport/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <add key="dotnet-libraries-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries-transport/nuget/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <add key="vssdk-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk-archived/nuget/v3/index.json" />
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <add key="vs-impl-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl-archived/nuget/v3/index.json" />
    <add key="vs-buildservices" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-buildservices/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dotnet-eng">
      <package pattern="microbuild.core.sentinel" />
      <package pattern="microsoft.dotnet.arcade.sdk" />
      <package pattern="microsoft.dotnet.build.tasks.visualstudio" />
      <package pattern="microsoft.dotnet.macospkg.cli" />
      <package pattern="microsoft.dotnet.nugetrepack.tasks" />
      <package pattern="microsoft.dotnet.signtool" />
      <package pattern="microsoft.dotnet.tar" />
      <package pattern="microsoft.dotnet.xlifftasks" />
      <package pattern="microsoft.internal.performance.codemarkers.designtime" />
      <package pattern="microsoft.signed.wix" />
      <package pattern="microsoft.visualstudioeng.microbuild.plugins.swixbuild" />
      <package pattern="microsoft.wixtoolset.sdk" />
      <package pattern="sn" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="dotnet-format" />
      <package pattern="microbuild.core.sentinel" />
      <package pattern="microsoft.codeanalysis.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.analyzers" />
      <package pattern="microsoft.codeanalysis.bannedapianalyzers" />
      <package pattern="microsoft.codeanalysis.codefix.testing" />
      <package pattern="microsoft.codeanalysis.coderefactoring.testing" />
      <package pattern="microsoft.codeanalysis.csharp.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.csharp.codefix.testing" />
      <package pattern="microsoft.codeanalysis.csharp.coderefactoring.testing" />
      <package pattern="microsoft.codeanalysis.csharp.sourcegenerators.testing" />
      <package pattern="microsoft.codeanalysis.publicapianalyzers" />
      <package pattern="microsoft.codeanalysis.sourcegenerators.testing" />
      <package pattern="microsoft.codeanalysis.visualbasic.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.visualbasic.codefix.testing" />
      <package pattern="microsoft.codeanalysis.visualbasic.coderefactoring.testing" />
      <package pattern="microsoft.codeanalysis.visualbasic.sourcegenerators.testing" />
      <package pattern="microsoft.codecoverage" />
      <package pattern="microsoft.diagnostics.netcore.client" />
      <package pattern="microsoft.diagnostics.runtime" />
      <package pattern="microsoft.diasymreader.converter" />
      <package pattern="microsoft.diasymreader.converter.xml" />
      <package pattern="microsoft.diasymreader.portablepdb" />
      <package pattern="microsoft.metadata.visualizer" />
      <package pattern="microsoft.net.stringtools" />
      <package pattern="microsoft.net.test.sdk" />
      <package pattern="microsoft.testplatform.objectmodel" />
      <package pattern="microsoft.testplatform.testhost" />
      <package pattern="microsoft.testplatform.translationlayer" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.dependencyresolver.core" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.librarymodel" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.projectmodel" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.versioning" />
      <package pattern="roslyn.diagnostics.analyzers" />
      <package pattern="sn" />
    </packageSource>
    <packageSource key="dotnet6">
      <package pattern="runtime.linux-arm64.microsoft.netcore.ildasm" />
      <package pattern="runtime.linux-x64.microsoft.netcore.ildasm" />
      <package pattern="runtime.osx-x64.microsoft.netcore.ildasm" />
      <package pattern="runtime.win-x64.microsoft.netcore.ildasm" />
    </packageSource>
    <packageSource key="dotnet7-transport">
      <package pattern="microsoft.codeanalysis.performancesensitiveanalyzers" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="runtime.linux-arm64.microsoft.netcore.ilasm" />
      <package pattern="runtime.linux-x64.microsoft.netcore.ilasm" />
      <package pattern="runtime.osx-x64.microsoft.netcore.ilasm" />
      <package pattern="runtime.win-x64.microsoft.netcore.ilasm" />
    </packageSource>
    <packageSource key="dotnet11-transport">
      <package pattern="microsoft.net.sdk.razor" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="*" />
      <package pattern="microsoft.build" />
      <package pattern="microsoft.build.framework" />
      <package pattern="microsoft.build.tasks.core" />
      <package pattern="microsoft.build.utilities.core" />
      <package pattern="microsoft.codeanalysis.analyzers" />
      <package pattern="microsoft.codecoverage" />
      <package pattern="microsoft.diagnostics.netcore.client" />
      <package pattern="microsoft.diagnostics.runtime" />
      <package pattern="microsoft.net.stringtools" />
      <package pattern="microsoft.net.test.sdk" />
      <package pattern="microsoft.testplatform.objectmodel" />
      <package pattern="microsoft.testplatform.testhost" />
      <package pattern="microsoft.testplatform.translationlayer" />
      <package pattern="microsoft.visualstudio.componentmodelhost" />
      <package pattern="microsoft.visualstudio.composition" />
      <package pattern="microsoft.visualstudio.debugger.interop.11.0" />
      <package pattern="microsoft.visualstudio.debugger.interopa" />
      <package pattern="microsoft.visualstudio.interactivewindow" />
      <package pattern="microsoft.visualstudio.interop" />
      <package pattern="microsoft.visualstudio.language.intellisense" />
      <package pattern="microsoft.visualstudio.remotecontrol" />
      <package pattern="microsoft.visualstudio.sdk.analyzers" />
      <package pattern="microsoft.visualstudio.setup.configuration.interop" />
      <package pattern="microsoft.visualstudio.shell.framework" />
      <package pattern="microsoft.visualstudio.threading.only" />
      <package pattern="microsoft.visualstudio.utilities.internal" />
      <package pattern="microsoft.visualstudio.validation" />
      <package pattern="microsoft.visualstudio.vsinteractivewindow" />
      <package pattern="microsoft.vssdk.buildtools" />
      <package pattern="microsoft.vssdk.compatibilityanalyzer" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.versioning" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="system.commandline" />
    </packageSource>
    <packageSource key="nuget-build">
      <package pattern="nuget.visualstudio" />
      <package pattern="nuget.visualstudio.contracts" />
    </packageSource>
    <packageSource key="vssdk">
      <package pattern="envdte" />
      <package pattern="envdte100" />
      <package pattern="envdte80" />
      <package pattern="envdte90" />
      <package pattern="envdte90a" />
      <package pattern="microsoft.build" />
      <package pattern="microsoft.build.framework" />
      <package pattern="microsoft.build.tasks.core" />
      <package pattern="microsoft.build.utilities.core" />
      <package pattern="microsoft.net.stringtools" />
      <package pattern="microsoft.servicehub.analyzers" />
      <package pattern="microsoft.servicehub.client" />
      <package pattern="microsoft.servicehub.framework" />
      <package pattern="microsoft.servicehub.resources" />
      <package pattern="microsoft.visualstudio.commandbars" />
      <package pattern="microsoft.visualstudio.componentmodelhost" />
      <package pattern="microsoft.visualstudio.composition" />
      <package pattern="microsoft.visualstudio.composition.analyzers" />
      <package pattern="microsoft.visualstudio.coreutility" />
      <package pattern="microsoft.visualstudio.debugger.engine-implementation" />
      <package pattern="microsoft.visualstudio.debugger.interop.10.0" />
      <package pattern="microsoft.visualstudio.debugger.interop.12.0" />
      <package pattern="microsoft.visualstudio.debugger.interop.14.0" />
      <package pattern="microsoft.visualstudio.debugger.interop.15.0" />
      <package pattern="microsoft.visualstudio.debugger.interop.16.0" />
      <package pattern="microsoft.visualstudio.debugger.interopa" />
      <package pattern="microsoft.visualstudio.debugger.metadata-implementation" />
      <package pattern="microsoft.visualstudio.designer.interfaces" />
      <package pattern="microsoft.visualstudio.editor" />
      <package pattern="microsoft.visualstudio.extensibility" />
      <package pattern="microsoft.visualstudio.extensibility.contracts" />
      <package pattern="microsoft.visualstudio.extensibility.editor.contracts" />
      <package pattern="microsoft.visualstudio.extensibility.framework" />
      <package pattern="microsoft.visualstudio.extensibility.jsongenerators.sdk" />
      <package pattern="microsoft.visualstudio.graphmodel" />
      <package pattern="microsoft.visualstudio.imagecatalog" />
      <package pattern="microsoft.visualstudio.imaging" />
      <package pattern="microsoft.visualstudio.imaging.interop.14.0.designtime" />
      <package pattern="microsoft.visualstudio.interop" />
      <package pattern="microsoft.visualstudio.language" />
      <package pattern="microsoft.visualstudio.language.intellisense" />
      <package pattern="microsoft.visualstudio.language.navigateto.interfaces" />
      <package pattern="microsoft.visualstudio.language.standardclassification" />
      <package pattern="microsoft.visualstudio.languageserver.client" />
      <package pattern="microsoft.visualstudio.languageserver.client.implementation" />
      <package pattern="microsoft.visualstudio.languageserver.protocol" />
      <package pattern="microsoft.visualstudio.languageserver.protocol.extensions" />
      <package pattern="microsoft.visualstudio.linux.connectionmanager.store" />
      <package pattern="microsoft.visualstudio.ole.interop" />
      <package pattern="microsoft.visualstudio.package.languageservice.15.0" />
      <package pattern="microsoft.visualstudio.projectaggregator" />
      <package pattern="microsoft.visualstudio.projectsystem.query" />
      <package pattern="microsoft.visualstudio.remotecontrol" />
      <package pattern="microsoft.visualstudio.rpccontracts" />
      <package pattern="microsoft.visualstudio.sdk" />
      <package pattern="microsoft.visualstudio.sdk.analyzers" />
      <package pattern="microsoft.visualstudio.setup.configuration.interop" />
      <package pattern="microsoft.visualstudio.shell.15.0" />
      <package pattern="microsoft.visualstudio.shell.design" />
      <package pattern="microsoft.visualstudio.shell.framework" />
      <package pattern="microsoft.visualstudio.shell.interop" />
      <package pattern="microsoft.visualstudio.shell.interop.10.0" />
      <package pattern="microsoft.visualstudio.shell.interop.11.0" />
      <package pattern="microsoft.visualstudio.shell.interop.12.0" />
      <package pattern="microsoft.visualstudio.shell.interop.8.0" />
      <package pattern="microsoft.visualstudio.shell.interop.9.0" />
      <package pattern="microsoft.visualstudio.telemetry" />
      <package pattern="microsoft.visualstudio.templatewizardinterface" />
      <package pattern="microsoft.visualstudio.text.data" />
      <package pattern="microsoft.visualstudio.text.logic" />
      <package pattern="microsoft.visualstudio.text.ui" />
      <package pattern="microsoft.visualstudio.text.ui.wpf" />
      <package pattern="microsoft.visualstudio.textmanager.interop" />
      <package pattern="microsoft.visualstudio.textmanager.interop.10.0" />
      <package pattern="microsoft.visualstudio.textmanager.interop.11.0" />
      <package pattern="microsoft.visualstudio.textmanager.interop.12.0" />
      <package pattern="microsoft.visualstudio.textmanager.interop.8.0" />
      <package pattern="microsoft.visualstudio.textmanager.interop.9.0" />
      <package pattern="microsoft.visualstudio.texttemplating.vshost" />
      <package pattern="microsoft.visualstudio.threading" />
      <package pattern="microsoft.visualstudio.threading.analyzers" />
      <package pattern="microsoft.visualstudio.threading.only" />
      <package pattern="microsoft.visualstudio.utilities" />
      <package pattern="microsoft.visualstudio.utilities.internal" />
      <package pattern="microsoft.visualstudio.validation" />
      <package pattern="microsoft.visualstudio.vcprojectengine" />
      <package pattern="microsoft.visualstudio.vshelp" />
      <package pattern="microsoft.visualstudio.vshelp80" />
      <package pattern="microsoft.visualstudio.wcfreference.interop" />
      <package pattern="microsoft.visualstudio.workspace" />
      <package pattern="microsoft.visualstudio.workspace.extensions" />
      <package pattern="microsoft.visualstudio.workspace.vsintegration" />
      <package pattern="microsoft.vssdk.buildtools" />
      <package pattern="microsoft.vssdk.compatibilityanalyzer" />
      <package pattern="microsoft.vssdk.debugger.vsdconfigtool" />
      <package pattern="stdole" />
      <package pattern="streamjsonrpc" />
      <package pattern="vslangproj" />
      <package pattern="vslangproj100" />
      <package pattern="vslangproj110" />
      <package pattern="vslangproj140" />
      <package pattern="vslangproj150" />
      <package pattern="vslangproj157" />
      <package pattern="vslangproj158" />
      <package pattern="vslangproj165" />
      <package pattern="vslangproj2" />
      <package pattern="vslangproj80" />
      <package pattern="vslangproj90" />
      <package pattern="vswebsite.interop" />
    </packageSource>
    <packageSource key="vssdk-archived">
      <package pattern="microsoft.visualstudio.componentmodelhost" />
      <package pattern="microsoft.visualstudio.debugger.interop.11.0" />
      <package pattern="microsoft.visualstudio.debugger.interopa" />
      <package pattern="microsoft.visualstudio.graphmodel" />
      <package pattern="microsoft.visualstudio.interactivewindow" />
      <package pattern="microsoft.visualstudio.interop" />
      <package pattern="microsoft.visualstudio.language.intellisense" />
      <package pattern="microsoft.visualstudio.remotecontrol" />
      <package pattern="microsoft.visualstudio.sdk.analyzers" />
      <package pattern="microsoft.visualstudio.shell.framework" />
      <package pattern="microsoft.visualstudio.templatewizardinterface" />
      <package pattern="microsoft.visualstudio.validation" />
      <package pattern="microsoft.visualstudio.vsinteractivewindow" />
      <package pattern="microsoft.visualstudio.workspace" />
      <package pattern="vswebsite.interop" />
    </packageSource>
    <packageSource key="vs-impl">
      <package pattern="microsoft.internal.visualstudio.interop" />
      <package pattern="microsoft.internal.visualstudio.shell.framework" />
      <package pattern="microsoft.visualstudio.copilot" />
      <package pattern="microsoft.visualstudio.copilot.roslyn.semanticsearch" />
      <package pattern="microsoft.visualstudio.debugger.contracts" />
      <package pattern="microsoft.visualstudio.languageserver.client.implementation" />
      <package pattern="microsoft.visualstudio.languageserver.protocol.internal" />
      <package pattern="microsoft.visualstudio.platform.vseditor" />
      <package pattern="microsoft.visualstudio.projectsystem.query" />
      <package pattern="microsoft.visualstudio.search" />
      <package pattern="microsoft.visualstudio.shell.styles" />
      <package pattern="microsoft.visualstudio.text.implementation" />
      <package pattern="microsoft.visualstudio.text.internal" />
      <package pattern="microsoft.webtools.languages.html" />
      <package pattern="microsoft.webtools.languages.html.editor" />
      <package pattern="microsoft.webtools.languages.languageserver.server" />
      <package pattern="microsoft.webtools.languages.shared" />
      <package pattern="microsoft.webtools.languages.shared.editor" />
      <package pattern="microsoft.webtools.languages.shared.vs" />
      <package pattern="microsoft.webtools.shared" />
    </packageSource>
    <packageSource key="vs-impl-archived">
      <package pattern="microbuild.core.sentinel" />
      <package pattern="microsoft.internal.visualstudio.interop" />
      <package pattern="microsoft.visualstudio.cache" />
      <package pattern="microsoft.visualstudio.callhierarchy.package.definitions" />
      <package pattern="microsoft.visualstudio.codeanalysis.sdk.ui" />
      <package pattern="microsoft.visualstudio.language.callhierarchy" />
      <package pattern="microsoft.visualstudio.liveshare" />
      <package pattern="microsoft.visualstudio.liveshare.languageservices" />
      <package pattern="microsoft.visualstudio.liveshare.languageservices.guest" />
      <package pattern="microsoft.visualstudio.liveshare.webeditors" />
      <package pattern="microsoft.visualstudio.projectsystem" />
      <package pattern="microsoft.visualstudio.web" />
      <package pattern="microsoft.visualstudio.winforms.interfaces" />
      <package pattern="nuget.visualstudio" />
      <package pattern="nuget.visualstudio.contracts" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
