<?xml version="1.0" encoding="utf-8"?>
<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. See the LICENSE file in the project root for more information. -->
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet7-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7-transport/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <add key="vs-buildservices" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-buildservices/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="vssdk">
      <package pattern="microsoft.visualstudio.text.ui" />
      <package pattern="microsoft.visualstudio.shell.15.0" />
      <package pattern="microsoft.visualstudio.text.data" />
      <package pattern="microsoft.visualstudio.interop" />
      <package pattern="microsoft.visualstudio.text.ui.cocoa" />
      <package pattern="microsoft.servicehub.framework" />
      <package pattern="microsoft.visualstudio.threading.analyzers" />
      <package pattern="envdte80" />
      <package pattern="microsoft.visualstudio.workspace.vsintegration" />
      <package pattern="microsoft.visualstudio.componentmodelhost" />
      <package pattern="microsoft.visualstudio.languageserver.protocol" />
      <package pattern="microsoft.visualstudio.coreutility" />
      <package pattern="microsoft.visualstudio.workspace" />
      <package pattern="microsoft.visualstudio.language.standardclassification" />
      <package pattern="microsoft.visualstudio.validation" />
      <package pattern="microsoft.visualstudio.text.ui.wpf" />
      <package pattern="microsoft.visualstudio.composition.netfxattributes" />
      <package pattern="microsoft.visualstudio.designer.interfaces" />
      <package pattern="microsoft.visualstudio.composition.analyzers" />
      <package pattern="microsoft.visualstudio.templatewizardinterface" />
      <package pattern="streamjsonrpc" />
      <package pattern="microsoft.servicehub.analyzers" />
      <package pattern="microsoft.visualstudio.editor" />
      <package pattern="microsoft.servicehub.client" />
      <package pattern="microsoft.visualstudio.extensibility.testing.xunit" />
      <package pattern="microsoft.visualstudio.shell.design" />
      <package pattern="vswebsite.interop" />
      <package pattern="microsoft.visualstudio.composition" />
      <package pattern="microsoft.visualstudio.language" />
      <package pattern="microsoft.visualstudio.text.logic" />
      <package pattern="microsoft.visualstudio.shell.framework" />
      <package pattern="microsoft.visualstudio.imaging.interop.14.0.designtime" />
      <package pattern="microsoft.visualstudio.language.navigateto.interfaces" />
      <package pattern="microsoft.visualstudio.rpccontracts" />
      <package pattern="microsoft.visualstudio.interactivewindow" />
      <package pattern="microsoft.visualstudio.language.intellisense" />
      <package pattern="envdte" />
      <package pattern="microsoft.visualstudio.imaging" />
      <package pattern="microsoft.servicehub.resources" />
      <package pattern="microsoft.visualstudio.sdk.analyzers" />
      <package pattern="microsoft.visualstudio.imagecatalog" />
      <package pattern="microsoft.visualstudio.projectaggregator" />
      <package pattern="microsoft.visualstudio.graphmodel" />
      <package pattern="microsoft.visualstudio.threading" />
      <package pattern="microsoft.visualstudio.languageserver.protocol.extensions" />
      <package pattern="microsoft.visualstudio.utilities" />
      <package pattern="microsoft.visualstudio.extensibility.testing.sourcegenerator" />
      <package pattern="microsoft.visualstudio.workspace.extensions" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="microsoft.codeanalysis.csharp.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.visualbasic.coderefactoring.testing" />
      <package pattern="nuget.common" />
      <package pattern="microsoft.codeanalysis.visualbasic.codefix.testing" />
      <package pattern="microsoft.codeanalysis.csharp.coderefactoring.testing" />
      <package pattern="microsoft.codeanalysis.csharp.codefix.testing" />
      <package pattern="microsoft.codeanalysis.testing.verifiers.xunit" />
      <package pattern="microsoft.diasymreader.converter" />
      <package pattern="microsoft.build.tasks.git" />
      <package pattern="nuget.protocol" />
      <package pattern="microsoft.metadata.visualizer" />
      <package pattern="microsoft.codeanalysis.visualbasic.codefix.testing.xunit" />
      <package pattern="microbuild.core.sentinel" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.versioning" />
      <package pattern="nuget.frameworks" />
      <package pattern="microsoft.codeanalysis.visualbasic.analyzer.testing" />
      <package pattern="microsoft.testplatform.testhost" />
      <package pattern="microsoft.codeanalysis.csharp.coderefactoring.testing.xunit" />
      <package pattern="microsoft.diasymreader" />
      <package pattern="microsoft.codeanalysis.csharp.codefix.testing.xunit" />
      <package pattern="microsoft.codeanalysis.coderefactoring.testing" />
      <package pattern="microsoft.diasymreader.converter.xml" />
      <package pattern="microsoft.sourcelink.github" />
      <package pattern="microsoft.sourcelink.common" />
      <package pattern="microsoft.sourcelink.azurerepos.git" />
      <package pattern="microsoft.codeanalysis.visualbasic.analyzer.testing.xunit" />
      <package pattern="microsoft.codeanalysis.analyzer.testing" />
      <package pattern="microsoft.codeanalysis.csharp.analyzer.testing.xunit" />
      <package pattern="microsoft.diasymreader.portablepdb" />
      <package pattern="microsoft.codeanalysis.visualbasic.coderefactoring.testing.xunit" />
      <package pattern="nuget.configuration" />
      <package pattern="microsoft.codeanalysis.codefix.testing" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="microsoft.codeanalysis.bannedapianalyzers" />
      <package pattern="roslyn.diagnostics.analyzers" />
      <package pattern="microsoft.codeanalysis.netanalyzers" />
      <package pattern="microsoft.codeanalysis.publicapianalyzers" />
    </packageSource>
    <packageSource key="dotnet7-transport">
      <package pattern="microsoft.codeanalysis.performancesensitiveanalyzers" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="sn" />
      <package pattern="xunit.analyzers" />
      <package pattern="microsoft.dotnet.xlifftasks" />
      <package pattern="microsoft.symboluploader.build.task" />
      <package pattern="microsoft.signed.wix" />
      <package pattern="roslyntools.vsixexpinstaller" />
      <package pattern="microsoft.internal.performance.codemarkers.designtime" />
      <package pattern="microsoft.dotnet.build.tasks.feed" />
      <package pattern="microsoft.dotnet.nugetrepack.tasks" />
      <package pattern="microsoft.dotnet.signtool" />
      <package pattern="microsoft.visualstudioeng.microbuild.plugins.swixbuild" />
      <package pattern="microsoft.dotnet.build.tasks.visualstudio" />
      <package pattern="microsoft.dotnet.arcade.sdk" />
      <package pattern="microsoft.codeanalysis.test.resources.proprietary" />
    </packageSource>
    <packageSource key="dotnet7">
      <package pattern="microsoft.ilverification" />
    </packageSource>
    <packageSource key="vs-impl">
      <package pattern="microsoft.visualstudio.fpf.presentationcore" />
      <package pattern="microsoft.visualstudio.debugger.metadata-implementation" />
      <package pattern="microsoft.visualstudio.liveshare.webeditors" />
      <package pattern="microsoft.visualstudio.liveshare.languageservices.guest" />
      <package pattern="microsoft.visualstudio.fpf.windowsbase" />
      <package pattern="microsoft.visualstudio.platform.vseditor" />
      <package pattern="microsoft.visualstudio.liveshare.languageservices" />
      <package pattern="microsoft.visualstudio.debugger.engine-implementation" />
      <package pattern="microsoft.visualstudio.diagnostics.performanceprovider" />
      <package pattern="microsoft.visualstudio.search" />
      <package pattern="microsoft.visualstudio.languageserver.protocol.internal" />
      <package pattern="microsoft.visualstudio.language.callhierarchy" />
      <package pattern="microsoft.visualstudio.cache" />
      <package pattern="microsoft.visualstudio.progression.common" />
      <package pattern="microsoft.internal.visualstudio.interop" />
      <package pattern="microsoft.visualstudio.liveshare" />
      <package pattern="microsoft.visualstudio.languageserver.client.implementation" />
      <package pattern="microsoft.visualstudio.debugger.contracts" />
      <package pattern="microsoft.internal.visualstudio.shell.framework" />
      <package pattern="microsoft.visualstudio.codeanalysis.sdk.ui" />
      <package pattern="microsoft.visualstudio.text.internal" />
      <package pattern="microsoft.visualstudio.projectsystem" />
      <package pattern="microsoft.visualstudio.fpf.presentationframework" />
      <package pattern="microsoft.visualstudio.callhierarchy.package.definitions" />
      <package pattern="microsoft.visualstudio.progression.interfaces" />
      <package pattern="microsoft.visualstudio.progression.codeschema" />
      <package pattern="microsoft.visualstudio.winforms.interfaces" />
      <package pattern="microsoft.visualstudio.diagnostics.measurement" />
    </packageSource>
    <packageSource key="dotnet6">
      <package pattern="runtime.osx-x64.microsoft.netcore.ildasm" />
      <package pattern="microsoft.macos.ref" />
      <package pattern="runtime.osx-x64.microsoft.netcore.ilasm" />
      <package pattern="runtime.linux-x64.microsoft.netcore.ildasm" />
      <package pattern="runtime.linux-x64.microsoft.netcore.ilasm" />
      <package pattern="runtime.win-x64.microsoft.netcore.ilasm" />
      <package pattern="runtime.win-x64.microsoft.netcore.ildasm" />
    </packageSource>
    <packageSource key="nuget-build">
      <package pattern="nuget.visualstudio.contracts" />
      <package pattern="nuget.visualstudio" />
    </packageSource>
    <packageSource key="vs-buildservices">
      <package pattern="richcodenav.envvardump" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

</configuration>
