<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<configuration>
  <packageRestore>
    <!-- Currently, the repository's version of NuGet.exe and Visual Studio's version
         fight over the format of project.lock.json because the one in the respository
         is newer. To prevent that, turn off package restore.

         ⚠ THIS IS A PERFORMANCE-CRITICAL LINE. DO NOT REMOVE. ⚠ -->
    <add key="enabled" value="false" />
  </packageRestore>
</configuration>
