<?xml version="1.0" encoding="utf-8"?> 
<!-- This file can be removed once https://github.com/dotnet/roslyn/pull/20333 is merged. --> 
<RunSettings>  
  <RunConfiguration>  
    <TestAdaptersPaths>%userprofile%\.nuget\packages\xunit.runner.visualstudio\2.2.0-beta4-build1194</TestAdaptersPaths>  
  </RunConfiguration>   
</RunSettings>  
