<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<packages>
  <package id="Microsoft.Net.ToolsetCompilers" version="1.0.0-beta2-20141216-04" targetFramework="net45" />
  <package id="Microsoft.Net.RoslynDiagnostics" version="1.0.0-beta2-20141216-04" targetFramework="net45" />
  <package id="xunit.runners" version="2.0.0-alpha-build2576" />
</packages>