<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<packages>
  <package id="Microsoft.Net.ToolsetCompilers" version="1.0.0-rc3-20150520-02" targetFramework="net45" />
  <package id="Microsoft.Net.RoslynDiagnostics" version="1.0.0-rc3-20150520-02" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
  <package id="FakeSign" version="0.9.2" targetFramework="net45" />
</packages>
