# Remove the line below if you want to inherit .editorconfig settings from higher directories

# C# files
[ImmutableSegmented*.cs]
# this. and Me. preferences
dotnet_style_qualification_for_event = false
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_property = false

dotnet_diagnostic.IDE0006.severity = error