<ol class="round">
    @for (int i = 0; i < 10; i++)
    {
        <li>
            @switch (i)
            {
                case 0:
                    <text>first</text>
                    ;
                    break;
                case 1:
                    <text>second</text>
                    ;
                    break;
                default:
                    <text>@(i + 1)</text>
                    ;
                    break;
            }
        </li>
    }
</ol>

@switch (i)
{
    case 0:
        <text>foo</text>
        break;
    case 1:
        <text>bar</text>
        break;
    case 2:
        <text>baz</text>
        break;
}

<div>
    <div>
        @switch (i)
        {
            case 0:
                <text>foo</text>
                break;
            case 1:
                <text>bar</text>
                break;
            case 2:
                <text>baz</text>
                break;
        }
    </div>
</div>
