<?xml version="1.0" encoding="utf-8"?>
<!--
  The list of VSIX extensions we produce and upload to myget.org. Currently the script (PostTest.ps1) that
  we run after every signed build uploads all shipped extensions in the VSIX folder to myget.org
 -->
<extensions>
  <extension id="Roslyn.Deployment.Full" />
  <extension id="Roslyn.Deployment.Full.Next" />
</extensions>
