<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Common diagnostic rules for all non-shipping projects" Description="Enables/disable rules specific to all non-shipping projects." ToolsVersion="14.0">
  <Include Path=".\Roslyn.ruleset" Action="Default" />
  <Rules AnalyzerId="Roslyn.Diagnostics.Analyzers.MetaAnalyzers" RuleNamespace="Roslyn.Diagnostics.Analyzers.MetaAnalyzers">
    <!-- Suppress rule RS1001 (Missing diagnostic analyzer attribute) for non-shipping projects, as they may have test analyzers. -->
    <Rule Id="RS1001" Action="None" />
  </Rules>
</RuleSet>