<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.1.20-beta" targetFramework="net45" />
  <package id="Microsoft.Bcl.Metadata" version="1.0.11-alpha" targetFramework="net45" />
  <package id="Microsoft.Net.ToolsetCompilers" version="0.7.4070101-beta" targetFramework="portable-net45+win" developmentDependency="true" />
  <package id="StyleCop.MSBuild" version="4.7.48.2" targetFramework="net45" developmentDependency="true" />
</packages>