<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Roslyn.VisualStudio.Test.Utilities.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Roslyn.VisualStudio.Test.Utilities.Settings>
            <setting name="VsProductVersion" serializeAs="String">
                <value>14.0</value>
            </setting>
            <setting name="VsRootSuffix" serializeAs="String">
                <value>RoslynDev</value>
            </setting>
        </Roslyn.VisualStudio.Test.Utilities.Settings>
    </userSettings>
</configuration>