<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Composition" version="14.0.50715-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="14.0.50729-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK" version="14.0.50729-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK.Tools" version="14.0.50729-pre" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.0.50703" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="14.0.50702" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.50702" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
</packages>