<?xml version="1.0" encoding="utf-8"?>

<!-- The default app.config for test projects that need a custom binding redirect -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="ThrowingTraceListener" type="Microsoft.CodeAnalysis.ThrowingTraceListener, Microsoft.CodeAnalysis.Test.Utilities" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
