<?xml version="1.0" encoding="utf-8" ?>
<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. See the LICENSE file in the project root for more information. -->

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.VisualStudio.IntegrationTest.Utilities.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Microsoft.VisualStudio.IntegrationTest.Utilities.Settings>
      <setting name="VsProductVersion" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="VsRootSuffix" serializeAs="String">
        <value>RoslynDev</value>
      </setting>
    </Microsoft.VisualStudio.IntegrationTest.Utilities.Settings>
  </userSettings>
</configuration>