<?xml version="1.0" encoding="utf-8"?>
<!--
  The list of NuGet packages we produce.  If you update this with the current version
  you can use the "NuGetPackagePublishing.psm1 PowerShell module to publish and or
  hide our NuGet packages.

  For example:
    Import-Module .\NuGetPackagePublishing.psm1
    Publish-NuGetPackage -ApiKey <key> -config packages.config
 -->
<packages>
  <package id="Microsoft.CodeAnalysis" version="$version$" />
  <package id="Microsoft.CodeAnalysis.CodeActions" version="$version$" />
  <package id="Microsoft.CodeAnalysis.Common" version="$version$" />
  <package id="Microsoft.CodeAnalysis.Compilers" version="$version$" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="$version$" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="$version$" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="$version$" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="$version$" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="$version$" />
  <package id="Microsoft.VisualStudio.LanguageServices" version="$version$" />
  <!-- May not want to push this publicly. -->
  <package id="Microsoft.CodeAnalysis.CSharp.Features" version="$version$" />
</packages>
