# Project-specific settings:
[*.{cs,vb}]
# Local functions are camelCase
dotnet_naming_style.local_function_style.capitalization = camel_case
dotnet_naming_rule.local_functions_should_be_camel_case.severity = warning
dotnet_naming_rule.local_functions_should_be_camel_case.symbols = local_functions
dotnet_naming_rule.local_functions_should_be_camel_case.style = local_function_style

# RS0100: Statements must be placed on their own line
dotnet_diagnostic.RS0100.severity = none

# RS0101: Avoid multiple blank lines
dotnet_diagnostic.RS0101.severity = none

# RS0102: Braces must not have blank lines between them
dotnet_diagnostic.RS0102.severity = none

# IDE0170: Prefer extended property pattern
dotnet_diagnostic.IDE0170.severity = suggestion

# CSharp code style settings:
[*.cs]
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = true:none
csharp_style_var_elsewhere = false:none

# XML files
[*.xml]
indent_size = 2
