# Project-specific settings:
[*.{cs,vb}]
# Local functions are camelCase
dotnet_naming_style.local_function_style.capitalization = camel_case
dotnet_naming_rule.local_functions_should_be_camel_case.severity = warning
dotnet_naming_rule.local_functions_should_be_camel_case.symbols = local_functions
dotnet_naming_rule.local_functions_should_be_camel_case.style = local_function_style

# RS0100: Statements must be placed on their own line
dotnet_diagnostic.RS0100.severity = none

# RS0102: Braces must not have blank lines between them
dotnet_diagnostic.RS0102.severity = none

# IDE0170: Prefer extended property pattern
dotnet_diagnostic.IDE0170.severity = suggestion

# IDE0090: Simplify new expression
dotnet_diagnostic.IDE0090.severity = none

# CSharp code style settings:
[*.cs]
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = true:none
csharp_style_var_elsewhere = false:none
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true

# RS0062: Do not capture primary constructor parameters
# Warning so that it doesn't block local F5, but will fail in CI with WarnAsError
dotnet_diagnostic.RS0062.severity = warning

# XML files
[*.xml]
indent_size = 2
