<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="../packages" />
  </config>
  <packageSources>
    <add key="myget.org dotnet-coreclr" value="https://www.myget.org/F/dotnet-coreclr/" />
    <add key="myget.org dotnet-corefx" value="https://www.myget.org/F/dotnet-corefx/" />
    <add key="myget.org dotnet-core" value="https://www.myget.org/F/dotnet-core/" />
    <add key="myget.org dotnet-corefxtestdata" value="https://www.myget.org/F/dotnet-corefxtestdata/" />
    <add key="myget.org dotnet-buildtools" value="https://www.myget.org/F/dotnet-buildtools/" />
    <add key="myget.org xunit-performance" value="https://www.myget.org/F/dotnet-xunit-performance" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>

  <disabledPackageSources />

  <packageSourceCredentials>

    <myget.org_x0020_xunit-performance>

      <add key="Username" value="pharring" />

      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0G042WrFTkKytP1LYQMuuAAAAAACAAAAAAADZgAAwAAAABAAAAArm90SBSUlkYzz63JnemIWAAAAAASAAACgAAAAEAAAAIFz274RvhlxtzZZBWUu4LwYAAAA+PQFHUcn+tA3T1AjQMvaGXqWrgnmy3MWFAAAAHWm/LvHIIQ6HsuP6e2e9vzIQB0O" />

    </myget.org_x0020_xunit-performance>

  </packageSourceCredentials>

</configuration>
