<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.appDomain" value="denied" />
    <add key="xunit.methodDisplay" value="method" />
    <add key="xunit.shadowCopy" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="ThrowingTraceListener" type="Microsoft.CodeAnalysis.ThrowingTraceListener, Roslyn.Test.Utilities.Desktop" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>