<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <roslyn.unittests>
    <emit>
      <method assembly="Roslyn.Test.Utilities" type="Microsoft.CodeAnalysis.Test.Utilities.CommonTestBase" name="Emit" />
      <method assembly="Microsoft.CodeAnalysis.Scripting.UnitTests" type="Microsoft.CodeAnalysis.Scripting.Test.ScriptingTestHelpers" name="ReflectionEmit" />
    </emit>
  </roslyn.unittests>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
