<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <appSettings>
    <add key="xunit.appDomain" value="denied"/>
    <add key="xunit.diagnosticMessages" value="false"/>
    <add key="xunit.parallelizeTestCollections" value="false"/>
  </appSettings>
  <roslyn.unittests>
    <emit>
      <method assembly="Roslyn.Test.Utilities" type="Microsoft.CodeAnalysis.Test.Utilities.CommonTestBase" name="Emit" />
      <method assembly="Microsoft.CodeAnalysis.Scripting.UnitTests" type="Microsoft.CodeAnalysis.Scripting.Test.ScriptingTestHelpers" name="ReflectionEmit" />
    </emit>
  </roslyn.unittests>
</configuration>
