<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<packages>
    <package id="Microsoft.NETCore.Runtime.CoreCLR-x86" version="1.0.0-beta-22713" />
    <package id="Microsoft.NETCore.Runtime.CoreCLR.ConsoleHost-x86" version="1.0.0-beta-22713" />
</packages>
