<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DiaSymReader" version="1.0.4-rc2" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="portable-net45+win" />
  <package id="System.Reflection.Metadata" version="1.1.0-alpha-00002" targetFramework="portable-net45+win8"/>
  <package id="System.IO.FileSystem" version="4.0.0-beta-22405" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.0-beta-22405" />
</packages>
