<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Diagnostic rules for the BasicCodeAnalysis (Portable and Desktop) projects" Description="Enables rules specific to these projects." ToolsVersion="14.0">
  <!-- Include default rules -->
  <Include Path="..\..\..\build\Rulesets\Roslyn.ruleset" Action="Default" />
  <Rules AnalyzerId="Roslyn.Diagnostics.Analyzers.VisualBasic" RuleNamespace="Roslyn.Diagnostics.Analyzers.VisualBasic">
    <Rule Id="RS0004" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Roslyn.Diagnostics.Analyzers.VisualBasic" RuleNamespace="Roslyn.Diagnostics.Analyzers.VisualBasic">
    <Rule Id="RS0013" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Roslyn.Diagnostics.Analyzers.VisualBasic" RuleNamespace="Roslyn.Diagnostics.Analyzers.VisualBasic">
    <Rule Id="RS0018" Action="Error" />
  </Rules>
</RuleSet>