# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

# We don't want any analyzer diagnostics to be reported for people consuming this as a source package.
dotnet_analyzer_diagnostic.severity = none

generated_code = true