<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Specific diagnostic rules for Microsoft.CodeAnalysis.AnalyzerUtilities" Description="Enables/disable rules specific to Microsoft.CodeAnalysis.AnalyzerUtilities." ToolsVersion="14.0">
  <!-- Include all shipping Roslyn-Analyzers project build rules -->
  <Include Path="..\..\eng\Analyzers_ShippingRules.ruleset" Action="Default" />

  <Rules AnalyzerId="Microsoft.CodeAnalysis.PublicApiAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.PublicApiAnalyzers">    
    <Rule Id="RS0016" Action="Warning" />
    <Rule Id="RS0017" Action="Warning" />
    <Rule Id="RS0022" Action="Warning" />
    <Rule Id="RS0024" Action="Warning" />
    <Rule Id="RS0025" Action="Warning" />
    <Rule Id="RS0026" Action="Warning" />
    <Rule Id="RS0027" Action="Warning" />
    <Rule Id="RS0036" Action="Warning" />
    <Rule Id="RS0037" Action="Warning" />
    <!-- TODO: Remove this exclusion and fix related issues, tracked by https://github.com/dotnet/roslyn-analyzers/issues/3915 -->
    <Rule Id="RS0041" Action="None" />
    <Rule Id="RS0048" Action="Warning" />
  </Rules>
</RuleSet>
