root = true

# C# files
[*.cs]

# Reset to defaults by ignoring the editorconfigs higher up
# Tracked by: https://github.com/dotnet/razor-compiler/issues/246

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = silent

# RS1032: Define diagnostic message correctly
dotnet_diagnostic.RS1032.severity = suggestion