<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Provide a default package restore source for test projects. -->
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
