<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DiaSymReader" version="1.0.5" targetFramework="net45" />
  <package id="System.IO" version="4.0.10-beta-22816" />
  <package id="System.IO.FileSystem" version="4.0.0-beta-22816" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.0-beta-22816" />
  <package id="System.Runtime" version="4.0.20-beta-22816" />
  <package id="System.Runtime.Extensions" version="4.0.10-beta-22816" />
  <package id="System.Runtime.InteropServices" version="4.0.20-beta-22816" />
  <package id="System.Reflection" version="4.0.10-beta-22816" />
  <package id="System.Reflection.Primitives" version="4.0.0-beta-22816" />
  <package id="System.Collections" version="4.0.10-beta-22816" />
  <package id="System.Linq" version="4.0.0-beta-22816" />
  <package id="xunit" version="2.1.0-beta2-build2981" />
  <package id="xunit.abstractions" version="2.0.0" />
  <package id="xunit.assert" version="2.1.0-beta2-build2981" />
  <package id="xunit.core" version="2.1.0-beta2-build2981" />
  <package id="xunit.extensibility.core" version="2.1.0-beta2-build2981" />
  <package id="xunit.runner.console" version="2.1.0-beta2-build2981" />
</packages>
