<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.2.0-rc3-23803" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0" targetFramework="net46" />
</packages>