<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="blame" enabled="True">
        <Configuration>
          <CollectDump DumpType="full" />
          <CollectDumpOnTestSessionHang TestTimeout="600000" DumpType="full" />
          <!-- This ResultsDirectory must exist, but it is totally ignored. -->
          <ResultsDirectory>%GITHUB_WORKSPACE%</ResultsDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
