trigger:
  batch: true
  branches:
    include:
    - main
    - microbuild
    - 'validate/*'
  paths:
    exclude:
    - doc/
    - '*.md'
    - .vscode/
    - azure-pipelines/release.yml
    - azure-pipelines/vs-insertion.yml
#schedules:
#- cron: "0 3 * * *" # Daily @ 8 PM PST
#  displayName: Daily vs-insertion
#  branches:
#    include:
#    - microbuild

parameters:
- name: SignTypeSelection
  displayName: Sign type
  type: string
  default: Test
  values: [ 'Test', 'Real' ]
- name: includeMacOS
  displayName: Build on macOS
  type: boolean
  default: false # macOS is often bogged down in Azure Pipelines
- name: RunTests
  displayName: Run tests
  type: boolean
  default: true
- name: EnableCompliance
  displayName: Run Compliance Tools
  type: boolean
  default: true
- name: EnableAPIScan
  displayName: Include APIScan with Compliance tools
  type: boolean
  default: true

resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release

extends:
  ${{ if parameters.EnableCompliance }}:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
      stages:
      - stage: Build
        variables:
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          BuildConfiguration: Release
          NUGET_PACKAGES: $(Agent.TempDirectory)/.nuget/packages
          SignTypeSelection: ${{ parameters.SignTypeSelection }}
          Packaging.EnableSBOMSigning: false
          Codeql.Enabled: true
        jobs:
        - template: /azure-pipelines/build.yml@self
          parameters:
            EnableCompliance: ${{ parameters.EnableCompliance }}
            EnableAPIScan: ${{ parameters.EnableAPIScan }}
            windowsPool: VSEngSS-MicroBuild2022-1ES
            linuxPool:
              name: AzurePipelines-EO
              demands:
              - ImageOverride -equals AzurePipelinesUbuntu20.04compliantGPT
              os: Linux
            macOSPool:
              name: Azure Pipelines
              vmImage: macOS-12
              os: macOS
            includeMacOS: ${{ parameters.includeMacOS }}
            RunTests: ${{ parameters.RunTests }}
      - template: /azure-pipelines/prepare-insertion-stages.yml@self
  ${{ else }}:
    template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
    parameters:
      sdl:
        sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
      stages:
      - stage: Build
        variables:
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          BuildConfiguration: Release
          NUGET_PACKAGES: $(Agent.TempDirectory)/.nuget/packages
          SignTypeSelection: ${{ parameters.SignTypeSelection }}
          Packaging.EnableSBOMSigning: false
          Codeql.Enabled: true
        jobs:
        - template: /azure-pipelines/build.yml@self
          parameters:
            EnableCompliance: ${{ parameters.EnableCompliance }}
            EnableAPIScan: ${{ parameters.EnableAPIScan }}
            windowsPool: VSEngSS-MicroBuild2022-1ES
            linuxPool:
              name: AzurePipelines-EO
              demands:
              - ImageOverride -equals AzurePipelinesUbuntu20.04compliantGPT
              os: Linux
            macOSPool:
              name: Azure Pipelines
              vmImage: macOS-12
              os: macOS
            includeMacOS: ${{ parameters.includeMacOS }}
            RunTests: ${{ parameters.RunTests }}
      - template: /azure-pipelines/prepare-insertion-stages.yml@self
