trigger:
  batch: true
  branches:
    include:
    - main
    - microbuild
    - 'validate/*'
  paths:
    exclude:
    - doc/
    - '*.md'
    - .vscode/
    - azure-pipelines/release.yml
    - azure-pipelines/vs-insertion.yml

parameters:
# As an entrypoint pipeline yml file, all parameters here show up in the Queue Run dialog.
# If any paramaters should NOT be queue-time options, they should be removed from here
# and references to them in this file replaced with hard-coded values.
# - name: ShouldSkipOptimize # Uncomment this and references to it below when setting EnableOptProf to true in build.yml.
#   displayName: Skip OptProf optimization
#   type: boolean
#   default: false
- name: EnableMacOSBuild
  displayName: Build on macOS
  type: boolean
  default: false # macOS is often bogged down in Azure Pipelines
- name: RunTests
  displayName: Run tests
  type: boolean
  default: true
- name: EnableAPIScan
  displayName: Include APIScan with compliance tools
  type: boolean
  default: false
- name: EnableProductionSDL
  displayName: Enable Production SDL
  type: boolean
  default: false
- name: PublishCodeCoverage
  displayName: Publish code coverage
  type: boolean
  default: true

resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release

variables:
- template: GlobalVariables.yml

extends:
  template: azure-pipelines/MicroBuild.1ES.Unofficial.yml@MicroBuildTemplate
  parameters:
    sdl:
      sourceAnalysisPool: VSEngSS-MicroBuild2022-1ES
      suppression:
        suppressionFile: $(System.DefaultWorkingDirectory)\azure-pipelines\falsepositives.gdnsuppress
      enableProductionSDL: ${{ parameters.EnableProductionSDL }}
      codeSignValidation:
        enabled: ${{ parameters.EnableProductionSDL }}
        break: true
        additionalTargetsGlobPattern: -|Variables-*\*.ps1;-|APIScanInputs-*\**;-|test_symbols-*\**;-|MicroBuild\**
        policyFile: $(MBSIGN_APPFOLDER)\CSVTestSignPolicy.xml
      policheck:
        enabled: ${{ parameters.EnableProductionSDL }}
        exclusionsFile: $(System.DefaultWorkingDirectory)\azure-pipelines\PoliCheckExclusions.xml
      sbom:
        enabled: false # Skip 1ES SBOM because microbuild has our own sbom system
    stages:
    - stage: Build
      variables:
      - template: /azure-pipelines/BuildStageVariables.yml@self
      jobs:
      - template: /azure-pipelines/build.yml@self
        parameters:
          Is1ESPT: true
          RealSign: false
          # ShouldSkipOptimize: ${{ parameters.ShouldSkipOptimize }}
          EnableAPIScan: ${{ parameters.EnableAPIScan }}
          windowsPool: VSEngSS-MicroBuild2022-1ES
          linuxPool:
            name: AzurePipelines-EO
            demands:
            - ImageOverride -equals 1ESPT-Ubuntu22.04
            os: Linux
          macOSPool:
            name: Azure Pipelines
            vmImage: macOS-14
            os: macOS
          EnableMacOSBuild: ${{ parameters.EnableMacOSBuild }}
          RunTests: ${{ parameters.RunTests }}
          PublishCodeCoverage: ${{ parameters.PublishCodeCoverage }}
