<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.xunit.performance" version="1.0.0-alpha-build0009" targetFramework="net46" />
  <package id="System.Collections" version="4.0.10" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net46" />
  <package id="System.Diagnostics.Tracing" version="4.0.20" targetFramework="net46" />
  <package id="System.Linq" version="4.0.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net46" />
  <package id="System.Threading" version="4.0.10" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0-beta4-build3109" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0-beta4-build3109" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0-beta4-build1109" targetFramework="net46" />
</packages>